<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login Page</title>
</head>

<body>
    <div style="position:absolute; top:30%; left:68%;">
        <div class="container">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div
                    style="transform:translate(-50%, -50%); font-size:50px; font-weight:bold;  color:white; text-align:center; vertical-align: middle;">
                    <h3>Login</h3>
                    ID : <input name="username" type="text" style="height: 50px;">
                    <br />
                    PW : <input name="password1" type="password" style="height: 50px;">
                    <br>
                    <span style="color: red; font-size: 20px;">{{error}}</span>
                    <br>
                    <input type="submit" value="심바 인증하기" class="btn btn-success"
                        style="height: 50px; font-size: 20px; width:150px;  border-radius: 12px; box-shadow: inset 0 1px p rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);  color:black; text-align:center; vertical-align: middle;">
                    <h2 style="color: black; font-size: 20px">앗! 아직 심바 등록을 안 하셨나요?</h2>
                    <a href="{% url 'signup' %}">
                        <h2 style="color: black; font-size: 20px"><u>심바 등록하러 가기</u></h2>
                    </a>
                </div>



            </form>

        </div>
    </div>


</body>

<footer>
    <div class="footer">
        <p>
            <h3><strong></strong>중앙대학교 멋쟁이 사자처럼 8기</h3>
            <br>
            <br>
            <h4> 개발자 이찬규 </h4>

            <h4> 개발자 정상제 </h4>

            <h4> 개발자 최윤아 </h4>

        </p>
    </div>
</footer>

</html>